* {
    box-sizing: border-box;
    outline: none;
}


/* font face */

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}


/* Basics */

html {
    font-family: poppins, sans-serif;
    color: white;
}

body {
    margin: 0;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    font-family: poppins;
    border: 0px;
}

input,
select {
    border: none;
}


/* Layout */

.general-container {
    background-color: #22252c;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.screen-size {
    height: 100vh;
}

.content-size {
    min-height: 100vh;
}

.page-container {
    display: flex;
    flex-direction: column;
}

.page-container.gallery-container {
    height: 100%;
}


/* imgs-Layout */

.img-container {
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}


/* nav */

nav {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 50px;
    font-size: 1.2rem;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

nav ul {
    margin: 10px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 5px 20px;
    cursor: pointer;
}

nav ul li a {
    display: block;
}

nav ul li:hover {
    font-weight: bold;
}

nav ul li.active {
    background-color: #fefefe;
    border-radius: 30px;
    color: #21ac91;
}

nav .logo {
    display: inline-block;
    cursor: pointer;
}

nav .btn-hamburger {
    display: none;
}


/* editor-Layout */

.meme-editor-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.meme-editor-container>* {
    display: flex;
}


/* canvas */

canvas {
    display: block;
    margin: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 0px white;
}

.meme-editor-container .canvas-container {
    flex-grow: 1;
    max-height: 90%;
    max-width: 50%;
    margin: auto 40px;
}


/* tools-container */

.meme-editor-container .tools-container {
    height: 90%;
    flex-grow: 1;
    max-width: 600px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    background-color: #383b42;
    border-radius: 20px;
}

.meme-editor-container .tools-container .btn {
    height: 55px;
    width: 55px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-container input[name="txt-input"] {
    height: 55px;
    font-size: 1.5rem;
    font-family: Impact, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    background-color: #ebeef3;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
}

.meme-editor-container .tools-container .line-tools {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tools-container .txt-tools {
    background-color: #19a59f;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
}

.tools-container .txt-tools>* {
    justify-self: center;
    align-self: center;
    margin: 10px;
}

.tools-container .txt-tools .btn-select {
    height: 55px;
    grid-column: 1/span 3;
    justify-self: stretch;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
    font-family: poppins;
    text-transform: uppercase;
    font-size: 1.3rem;
}

.meme-editor-container .tools-container .download-tools form {
    display: flex;
}

.download-tools form>* {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
}

.tools-container .download-tools form .btn {
    color: white;
    font-size: 1.3rem;
    border-radius: 20px;
}

.tools-container .download-tools form .btn img {
    margin-right: 10px;
}


/* modal */

.tools-container .download-tools .modal {
    position: fixed;
    top: 40%;
    right: 40%;
    background-color: #ebeef3;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-container .download-tools .modal a {
    display: inline-block;
    /* border: #6f7481 solid 0.5px; */
    cursor: pointer;
    padding: 10px 20px;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
}

.tools-container .download-tools .modal a.btn-share {
    color: white;
}

.tools-container .download-tools .modal a.btn-close-modal {
    background-color: #ebeef3;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
}


/* imgs */

.img-gallery img {
    width: 200px;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
    filter: contrast(0.5);
}

.img-gallery img:hover {
    filter: none;
}


/* helpers */

.hide {
    display: none !important;
}


/* SMALL */

@media (max-width: 950px) {
    nav {
        z-index: 1;
        top: 0;
        right: 0;
        height: 50px;
        border-radius: 0px;
        padding: 10px 15px;
    }
    nav .btn-hamburger {
        display: inline-block;
        padding-bottom: 35px;
        height: 25px;
        cursor: pointer;
        background-color: transparent;
        color: white;
        font-size: 2rem;
        border: 0px;
        z-index: 2;
    }
    nav .btn-hamburger img {
        height: 25px;
        z-index: 1;
    }
    nav ul {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        height: 100vh;
        background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
        opacity: 0.8;
        min-width: 50%;
        transform: translateX(100%);
        margin: 0;
        padding: 70px 10px 20px 10px;
        font-size: 1.2rem;
        text-align: center;
    }
    nav ul.open-nav {
        transition: 0.6s;
        transform: translateX(0);
    }
    .general-container {
        padding: 0px;
    }
    .meme-editor-container .canvas-container {
        max-width: 40%;
        margin-left: 10px;
        margin-right: 10px;
    }
    /* tools-container */
    .meme-editor-container .tools-container {
        margin-right: 20px;
    }
}

@media (max-width: 750px) {
    html {
        font-size: 14px;
    }
    .general-container.screen-size {
        height: fit-content;
        min-height: 100vh;
    }
    .meme-editor-container {
        flex-direction: column;
    }
    /* canvas */
    .meme-editor-container .canvas-container {
        max-height: 200px;
        margin: 5px auto;
    }
    /* tools-container */
    .meme-editor-container .tools-container {
        align-self: stretch;
        height: 250px;
        max-width: 90%;
        margin: 5px auto;
    }
    .meme-editor-container .tools-container .btn {
        height: 30px;
        width: 30px;
        font-size: 2rem;
    }
    .meme-editor-container .tools-container .btn img {
        height: 15px;
        width: 15px;
    }
    .meme-editor-container .tools-container .btn.btn-change-line img {
        margin: 0;
    }
    .tools-container input[name="txt-input"] {
        height: 30px;
        font-size: 1.5rem;
    }
    .tools-container .txt-tools {
        height: 40%;
        background-color: #19a59f;
    }
    .tools-container .txt-tools .btn {
        margin-left: 2px;
        margin-right: 2px;
    }
    .tools-container .txt-tools .btn-select {
        height: 30px;
        grid-column: 1/span 3;
        font-size: 0.7rem;
    }
    .tools-container .download-tools form .btn {
        font-size: 0.8rem;
    }
}